#Files to ignore

#Umm lets not give my password away...
auth.txt

#System Info, this file should be auto created if not provided
notifymessage.txt

#Just my test file for Python basics
test.py

#Since Hydra runs Python 2.7 and we set the shell to Python 3.3, we get pyc files
*.pyc
